* {
  margin: 0;
  padding: 0;
}
.container {
  // position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #cb4042;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    p {
      height: 50px;
      line-height: 50px;
    }
    .random {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    .shell {
      width: 40px;
      position: relative;
      transition: width .3s;
      height: 40px;
      border-radius: 20px;
      box-sizing: border-box;
      border: 3px solid #fff;
      background-color: #cb4042;
    }
    .search {
      height: 100%;
      width: 100%;
      background: 0;
      border: 0;
      cursor: pointer;
      border-radius: 50%;
      outline: none;
      color: #fff;
      box-sizing: border-box;
      background-color: #cb4042;
      padding-left: 20px;
      line-height: 40px;
      position: absolute;
      z-index: 2;
    }
    .res-list {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      .res-list-item {
        width: 800px;
        padding: 30px 20px;
        background-color: #fff;
        margin-bottom: 30px;
        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
          }
          p {
            font-size: 14px;
            color: #333;
            text-overflow: ellipsis;
            line-height: 20px;
            height: inherit;
          }
        }
      }
    }
    .line {
      width: 2px;
      height: 30px;
      background-color: #fff;
      position: absolute;
      transform: rotate(-45deg);
      right: 5px;
      top: 15px;
      z-index: 1;
      transition: top .2s, right .2s;
    }
    .close {
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -10px;
      display: none;
      opacity: 0;
      transition: opacity .3s;
      z-index: 3;
      &::before {
        content: "";
        width: 2px;
        height: 15px;
        display: block;
        background-color: #fff;
        transform: rotate(45deg);
        position: absolute;
        left: 10px;
        top: 3px;
      }
      &::after {
        content: "";
        width: 2px;
        height: 15px;
        display: block;
        background-color: #fff;
        position: absolute;
        transform: rotate(-45deg);
        left: 10px;
        top: 3px;
      }
    }
  }
}